* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  
}
html{
    scroll-behavior: smooth;
}
body {
  background-color: #010103; 
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("/images/home-img.jpeg");
  background-position: center;
  background-size: cover;
}
/*
.hero{
    margin-left: 40px;
    margin-right: 40px;
}*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-bottom:1px solid rgba(255,255,255,.3);
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.logo {
  padding: 10px;
}
.logo img {
  height: 50px;
}
.nav-link a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.nav-link a:hover {
  border-bottom: 2px solid #d3ad7f;
}

#current{
    color:#d3ad7f;
}

@media (max-width: 775px) {
  .nav-link a {
    display: none;
  }
}

.icons div {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  display: inline;
  padding: 5px;
}
#cart:hover{
    color:#d3ad7f;
}
#menutoggle {
  display: none;
}
@media (max-width: 775px) {
    #menutoggle {
      display: inline-block;
    }
  }
.search-form {
  position: fixed;
  display:block;
  left: 1030px;
  top: 76px; /*76px */
  width: 250px;
  transition:.4s ease;
}
@media (max-width: 775px) {
    .search-form{
        top: 100px;
    }
}
.search-form input {
  width: 100%;
  padding: 6px;
  display: block;
  font-size: 16px;
}
.cartItem{
    display:block;
    background-color:#fff;
    height: auto;
    width:23%;
    float: right;
    position:fixed;
    top: 75px;
    right: -310px;/*-310px;*/
    z-index: 99;
    padding: 15px;
    transition: 0.5s;

}
@media (max-width: 775px) {
    .cartItem {
        width:40%;
    }
}
.cartItem .items{
    display:flex;
    justify-content:space-between;
    margin-bottom: 10px;

}
.cartItem .items div{
    display:flex;
}
.cartItem .items div img{
    max-width: 25%;
    height: auto;
}
.cartItem .items div h3{
    padding:5px;
    font-size:18px;
}
.cartItem .items div h3 span{
    font-size: 12px;
    color:#d3ad7f;
}
#remove{
   margin-right: 10px;
   transform:translateY(5px);
    color:#000;
}
.cartItem button{
    width: 100%;
}
.cartItem .items:hover{
    background-color: #d3ad7f;
}
.cartItem .items:hover div h3{
    color:#fff;
}
.cartItem .items:hover div h3 span{
    color:#fff;
}

.menu-item {
  float: right;
  display: none;
  position: fixed;
  top: 75px;
  right: 0;
  width: 20%;
  height: 100vh;
  background-color: #b99870;
  z-index: 99;
  transition: 0.6s ease-in-out;
}
#close-menu {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
  color: #fff;
}

.menu-item ul {
  margin-top: 40px;
  text-align: center;
}
.menu-item ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}
.menu-item ul li a {
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  color: #fff;
}
.menu-item ul li:hover {
  font-weight: bold;
  border-left: 2px solid #fff;
}

.content {
  margin-left: 50px;
  padding-top: 200px;
}
@media (max-width: 775px) {
    .content {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.content h1 {
  text-transform: uppercase;
  font-size: 45px;
  word-spacing: 5px;
  color: #fff;
  margin-bottom: 10px;
}
@media (max-width: 775px) {
    .content h1 {
        font-size: 30px;
    }
  }

.content p {
  line-height: 20px;
  margin-bottom: 10px;
  color: #eee;
  font-weight: lighter;
}
@media (max-width: 775px) {
    .content p {
        font-size: 14px;   
    }
}
#back-to-top{
    display:none;
    float:right;
    position:fixed;
    top:590px;
    left:1280px;
    z-index: 1;
    font-size: 30px;
    color:#b99870;
    cursor: pointer;
    padding:5px 10px;
    border: 1px solid #d3ad7f;
    transition:.4s ease-in-out;
}
#back-to-top:hover{
    background-color: #d3ad7f;
    color:#fff;
}
@media (max-width: 775px) {
    #back-to-top{
        top:450px;
        left:580px;
    }
}

.btn{
    margin-top: 10px;
    padding:8px 20px;
    background-color: #d3ad7f;
    color:#fff;
    outline: none;
    border:none;
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
}
.btn:hover{
    letter-spacing: .2px;
}
.heading{
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom:20px;
    margin-top: 20px;
}
.heading span{
    color:#d3ad7f;
    text-transform: uppercase;
}
@media (max-width: 775px) {
    .heading{
        margin-bottom:40px;
    }
}

.row{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 40px;
    margin-right: 40px;
    background-color:#13131a;
    height:55vh;
    margin-bottom: 50px;

}
@media (max-width: 775px) {
    .row{
        flex-direction: column; 
        width:90%; 
        height: 100vh;
    }
}

.row img{
    flex-basis:50%;
    object-fit: cover;
    width:100%;
    height:55vh;
    
}
@media (max-width: 775px) {
    .row img{
        width:100%; 
        padding: 20px auto;
        margin-top: -50px;
    }
}
.row .content{
    flex-basis: 45%;
    color: #fff;
    margin-top: -230px;
    margin-right: 40px;
    transform:translateX(-40px)
}
@media (max-width: 775px) {
    .row .content{
      margin-top: -190px;
        
    }
}
.row .content h3{
    font-size:30px;
    margin-bottom: 20px;
    
}
@media (max-width: 775px) {
    .row .content h3{
        font-size:25px;
        margin-bottom: 15px;   
    }
}
.row .content p{
    font-size:18px;
    color: #eee;
    font-weight: lighter;
    line-height: 25px;
    
}
@media (max-width: 775px) {
    .row .content p{
        line-height: 18px;
        font-size:16px;
           
    }
}

.our-menu .container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap:10px;
    row-gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
   
}
.our-menu .container .box{
    text-align: center;
    border:1px solid rgba(255,255,255,.3);
    padding: 20px 20px;

}

.our-menu .container .box h3{
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.our-menu .container .box div{
    color: #fff;
    font-size: 20px;
    margin-bottom: 12px;

}
.our-menu .container .box div span{
    text-decoration: line-through;
    font-size:12px;
}
.our-menu .container .box a{
    text-decoration: none;
}
.our-menu .container .box:hover{
    background-color: #fff;   
}
.our-menu .container .box:hover h3{
    color: black;
}
.our-menu .container .box:hover .price{
    color: black;
}


@media (max-width: 775px) {
    .our-menu .container{
        grid-template-columns: repeat(2, 1fr);
           
    }
}
.product .container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap:1px;
    row-gap: 20px;
    margin-right: 40px;
    margin-left: 40px;

}
@media (max-width: 775px) {
    .product .container{
        grid-template-columns: repeat(2, 1fr);
           
    }
}

.product .container .box{
    text-align: center;
    border:1px solid rgba(255,255,255,.3);
    padding: 10px 20px;
    margin-left: 10px;
}
.product .container .box .icons a{
    padding:5px 10px;
    cursor: pointer;
    border:1px solid rgba(255,255,255,.3);
    color:#fff ;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom:15px;
    margin-left: 10px;
}
@media (max-width: 775px) {
    .product .container .box .icons a{
        margin-left: 5px;
           
    }
}
.product .container .box .icons a:hover{
    background-color: #d3ad7f;

}
.product .container .box .pImg{
    cursor: pointer;
    width: 100%;
    height: auto;
}
.product .container .box .pImg img{
    max-width: 100%;
    height: auto;
    
}
.product .container .box .pImg img:hover{
    transform:scale(1.2);
}

.product .container .box h3{
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#fff;
}
#rating{
    color:#d3ad7f;
}
.product .container .box div{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;

}
.product .container .box div span{
    text-decoration: line-through;
    font-size:12px ;
}

.review .container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap:10px;
    row-gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.review .container .box{
    
    text-align: center;
    border:1px solid rgba(255,255,255,.3);
    padding: 20px 20px;

}
.review .container .box img{
    width:40px;
    margin-bottom: 10px;
}
.review .container .box .comment{
    color:#fff;
    margin-bottom: 10px;
    line-height:18px;
}
.review .container .box .img-rounded img{
    width: 20%;
    height: 100%;
    border-radius:50%;
}
.review .container .box h3{
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
    color:#fff;
}
@media (max-width: 775px) {
    .review .container{
        grid-template-columns: repeat(2, 1fr);
           
    }
}

@media (max-width: 775px) {
    .row iframe{
        width:626px; 
        height: 300px;
        
    }
}

.contact .row form{
    flex:1 1 35rem;
    padding:5rem 2rem;
    text-align: center;
}
@media (max-width: 775px) {
    .contact .row form{
        width:626px; 
        height: 300px;
        margin-top: -25px;
    }
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 1.5rem;
    color:#fff;
}
.contact .row form .input-group{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:#010103;
    border:1px solid rgba(255,255,255,.3);
}
.contact .row form .input-group .fa{
    color:#fff;
    font-size: 14px;
    padding-left: 10px;
}
.contact .row form .input-group input{
    width: 100%;
    padding:12px;
    font-size: 12px;
    color:#fff;
    text-transform: none;
    background:none;
    border:none;
}
.contact .row form .input-group input:active{
    border-left:none;
}

.blog .container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    row-gap: 10px;
    column-gap:10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}
@media (max-width: 775px) {
    .blog .container{
        grid-template-columns:repeat(2, 1fr);
    }
}
.blog .container .box{
    border:1px solid rgba(255,255,255,.3);
    width: 100%;
    height: 70vh;
}
@media (max-width: 775px) {
    .blog .container .box{
        height:66vh;
    }
}

.blog .container .box .image{
    max-width: 100%;
    height: auto;
}
.blog .container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.blog .container .box .message{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.blog .container .box .message .title{
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
}

.blog .container .box .message span{
    display: block;
    padding-top: 1rem;
    font-size: 16px;
    color:#d3ad7f;
    margin-bottom: 10px;
}
.blog .container .box .message p{
    font-size: 16px;
    line-height: 1.5;
    color:#ccc;
    margin-bottom: 10px;
}
.blog .container .box .message a{
    text-decoration: none;
}

.footer{
    text-align: center;
    background-color: #13131a;
}

.footer .social-link{
    padding:30px 0;
    margin-top: 10px;
}
.footer .social-link a{
    width: 40px;
    height:40px;
    color:#fff;
    padding-top: 8px;
    padding-bottom: 10px;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 50%;
    font-size: 25px;
    font-weight:lighter;
}
.footer .social-link a:hover{
    background-color: #d3ad7f;
}
.footer .links{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding:1rem 0;
    gap:1rem;
}
.footer .links a{
    text-decoration: none;
    padding:7px 15px;
    color:#fff;
    border:1px solid rgba(255,255,255,.3) ;
}
.footer .links a:hover{
    background-color: #d3ad7f;
}

.footer .credit{
    color:#fff;
    font-weight: lighter;
    font-size: 14px;
    padding: 10px 20px;
}
.footer .credit span{
    color:#d3ad7f;
}

/* login and sign up*/

.hero{
    width: 100%;
    height:30vh;
    background-image: url("/images/home-img.jpeg");
    background-size: cover;
    background-position: center;
}

.row2{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 40px;
    margin-right: 40px;
    height:auto;
    margin-bottom: 50px;
    flex-wrap: wrap;

}
.row2 figure{
    flex-basis: 50%;
}
.row2 figure .image{
    max-width:100%;
    height: auto;
    
}
.row2 figure .image img{
    width:100%;
    margin-bottom: 20px;
}
.row2 figure figcaption{
    font-size:15px;
}
.row2 figure figcaption p{
    color: #fff;
    
}
.row2 figure figcaption p a{
    text-decoration: none;
    color:#fff;
    font-style: italic;
}
.row2 figure figcaption p a:hover{
    text-decoration: underline;
}


.row2 .form-control{
    flex-basis: 50%;
    margin:auto;
    text-align: center;
    width:40%;
    height: 64vh;
    background:#010103;
    border:1px solid rgba(255,255,255,.3);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
@media (max-width: 775px) {
    .row2 .form-control{
        width:60%;
    }
}
.row2 .form-control2{
    flex-basis: 50%;
    margin:auto;
    text-align: center;
    width:40%;
    height: 64vh;
    background:#010103;
    border:1px solid rgba(255,255,255,.3);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
@media (max-width: 775px) {
    .row2 .form-control2{
        width:60%;
    }
}
.row2 .form-control .group{
    display: flex;
    background-color: #13131a;
    margin-bottom: 20px;
    padding:10px;
    border:1px solid rgba(255,255,255,.3);
    background-color: transparent;
}
.row2 .form-control2 .group2{
    display: flex;
    background-color: #13131a;
    margin-bottom: 10px;
    border:1px solid rgba(255,255,255,.3);
    background-color: transparent;
    height: 40px;
    
}
.row2 .form-control .group span{
    padding:10px 10px;
    font-size: 16px;
    margin-top: 8px;
}
.row2 .form-control2 .group2 span{
    padding:5px 5px;
    font-size: 14px;
    margin-top: 10px;
    color:#fff;
}
.row2 .form-control .group input[type="text"]{
    width:100%;
    height:40px;
    font-size:20px;
    border:none;
    outline: none;
    background-color: transparent;
    color:#fff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.row2 .form-control .group input[type="password"]{
    width:100%;
    height:40px;
    font-size:20px;
    border:none;
    outline: none;
    background-color: transparent;
    color:#fff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.row2 .form-control2 .group2 input[type="text"],input[type="password"]{
    width:100%;
    height:40px;
    padding:5px;
    font-size:14px;
    border:none;
    outline: none;
    background-color: transparent;
    color:#fff;
    margin-top: 3px;
    margin-bottom: 10px;
}
::placeholder{
    color: white;
}
.row2 .form-control p{
    color:#fff;
   
}

.row2 .form-control2 p{
    color:#fff;
   
}


@media (max-width: 775px) {
    .form-control input[type="text"],input[type="password"]{
        height:30px;
        font-size:15px;
    }
}
.form-control .error, .error1{
    display:none;
    font-size: 12px;
    color:red;
    transform: translateX(-220px);
    margin-bottom: 5px;
}
@media (max-width: 775px) {
    .form-control .error{
        margin-left: -210px;
        margin-bottom: 5px;
    }
}

.form-control2 .error2,.error3,.error4,.error5{
    display:none;
    font-size: 12px;
    color:red;
    transform: translateX(-220px);
    margin-bottom: 5px;
}
@media (max-width: 775px) {
    .form-control .error1{
        margin-left: -210px;
        margin-bottom: 5px;
    }
}
.form-control button{
    width: 100%;
    margin-bottom: 20px;
}
.form-control2 button{
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 775px) {
    .row2 .form-control p{
        margin-left: -80px;
        margin-bottom: 5px;
    }
}
.row2 .form-control p a{
    text-decoration: none;
    color:#d3ad7f;
}
.row2 .form-control2 p a{
    text-decoration: none;
    color:#d3ad7f;
}
.row2 .form-control p a:hover{
    text-decoration: underline;
}
.row2 .form-control2 p a:hover{
    text-decoration: underline;
}
.row2 .form-control span{
    color:#fff;
    float:left;
}
.row2 .form-control2 span{
    color:#fff;
    float:left;
}
.row2 .form-control label[for="gender"]{
    color:#fff;
    padding: 20px;
}
.row2 .form-control2 label[for="gender"]{
    color:#fff;
    padding: 20px;
}

/* learn more blog */
.learn{
    width: 100%;
    height:40vh;
    background-image: url("/images/blog-1.jpeg");
    background-size: cover;
    background-position: center;

}
.learn-more{
    width: 100%;
    height: 100vh;
    overflow-y:scroll;
}
.learn-more .text{
    text-align: justify;
    padding:50px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;

}